* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	min-height: 100vh;
	display: flex;
	flex-direction: column;
}


.container-nav{
	padding: 10px;
	border: 2px dotted black;   
    background-color: #DAA53B;
    display: flex;
    justify-content: space-between;
    margin: auto;
}

.row {
    background-color: #EE82EE; 
    display: flex;  
    flex-wrap: wrap;
    width:400px;
    min-height: 250px;
    margin: 15px auto;   
}
.row-2 {
    display: flex;  
    flex-wrap: wrap;
    width:700px;
    min-height: 250px;
    margin: 15px auto;   
}
.row-3 {
    display: flex;  
    flex-wrap: wrap;
    width:700px;
    min-height: 400px;
    margin: 15px auto;   
}

.container-1 {
   
    width:100%;
	margin: 0 auto;
    padding: 15px;
    background-color: #0A238B;
}  

.container{
    width:100%;
	margin: 0 auto;
   
}
.conteiner-white {
    min-height: 100px;
	margin: 15px auto;
    padding:15x;
    background-color:white;
}

.container-grey{
    min-height: 100px;
    padding: 15px;
	margin: 15px auto;  
    background-color:#D3D3D3;
}

.container-grey2{
    min-height: 400px;
    padding: 15px;
	margin: 15px auto;  
    background-color:#D3D3D3;

}
.col-1 {
   
    flex-basis: calc((100% / 12) * 10);
}

.col-4 {
    flex-basis: calc((100% / 12) * 4 );
    
    background-color: #F6BFCA;
    border: 2px dotted black;
}
.col-8 {
    flex-basis: calc((100% / 12) * 8 );
     ;
    background-color:#2A8FF7;
    border: 2px dotted black;
}
.col-12{
    flex-basis: calc((100% / 12) * 12 );
}

.col-2 {
	flex-basis: calc((100% / 12) * 2);
	
}
.bg-gray {
	background-color: #d3d3d3;
}

.justify-between {
	justify-content: space-between;
}


/* DEBUG*/

.debug [class^='col-'] {
	min-height: 100px;
	padding: 10px;
	color: white;
}  
.debug footer .col {
	padding: 20px;
	border: 2px dashed white;
	color: white;
}

.debug .page-header,
.debug .page-footer {
	padding: 10px;
	background-color: #23272a;
	min-height: 60px;
}

.debug .container {
	padding: 10px;
	border: 2px solid black;
}
.debug .cta-section .col-12 {
	background-color: #228b22;
	min-height: 400px;
}
