* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	min-height: 100vh;
	display: flex;
	flex-direction: column;
}

.debug .page-header,
.debug .page-footer {
	padding: 10px;
	background-color:#ADD8E6;
	min-height: 60px;
}

.debug .container {
	padding: 10px;
	border: 2px solid black;
}

.conteiner-nav{
	padding: 10px;
	border: 2px solid violet;   
    background-color: #DAA53B;
    display: flex;
    justify-content: space-between;
    width:600px;
    margin: auto;
}

.row {
    background-color: #EE82EE;
    padding: 10px;
    border: 2px solid black;    
    display: flex;  
    flex-wrap: wrap;
    width:400px;
    min-height: 250px;
    margin: auto;
    
}

.container {
    min-height: 100px;
	margin: 0 auto;
    background-color: #0A238B;
}   
.col-1 {
    width: 200px;
    height: 200px;
    

}
.main-content{

}